@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  width: 28rem;
  height: 30rem;
  background: #f5f5f5;
}

.App {
  padding: 0.5rem;
}
